:root{
    --primary-color: #066bbd;
    --primary-color-dark: #023d6e;
    --primary-color-light:#86c6fa;

    --yellow-color: rgba(221, 255, 0, 50%);
    --green-color: rgb(64, 255, 0, 50%);
    --red-color: rgb(255, 0, 0, 50%);
}

*{
box-sizing: border-box;
outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.svg');
}

.container{
    max-width: 640px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 10%);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
}

form label, form input, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

label{
    color: #fff;
}

h1{
    font-size: 35px;
}

from input{
    color: var(--primary-color);
}

form input{
    font-size: 20px;
    padding: 0 10px;
    border-radius: 8px;
}

form input:focus{
    outline: 2px solid var(--primary-color);
    background-color: var(--primary-color-light);
}

form button{
    color: #fff;
    font-size: 18px;
    background: var(--primary-color);
    border-radius: 8px;
}

form button:hover{
    background: var(--primary-color-dark);
}

h1, p ,h2{
    text-align: center;
    color: #fff;
    line-height: 5px;
}

.grid {
display: grid;
grid-template-columns: 1fr 1fr;
}

.grid p, h2 {
    text-align: left;
    padding: 0px 50px;
}

.result1{
    display: flex;
    background-color: var(--green-color);
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}

.result2{
    display: flex;
    background-color: var(--yellow-color);
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}

.result3{
    display: flex;
    background-color: var(--red-color);
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}